@model CategoryMovieApp.Models.Contact
@{
    ViewData["Title"] = "ContactUpdate";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">İletişim Bilgileri Ekleme Paneli</h2>
    @using (Html.BeginForm("ContactUpdate", "Contact", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.ContactId,new {@style="display:none;",@class="inputName"})
        @Html.TextBoxFor(x=>x.ContactName,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.ContactPhone,new {@class="inputName"})
        @Html.TextBoxFor(x=>x.ContactText,new {@class="inputName"})
        @Html.TextBoxFor(m => m.ContactDate,"{0:yyyy-MM-dd}", new { type = "date" , @class="inputName"})
        @Html.DropDownList("ContactStatu", new List<SelectListItem>
    {
    new SelectListItem { Value = "True", Text = "Aktif" },
    new SelectListItem { Value = "False", Text = "Pasif" }
    }, "-- Seçiniz --", new {@class="inputName"})
        <br />
        <div class="addBtn">
            <button class="btn-success text-center"><i class="fa fa-plus"></i></button>
        </div>
    }
</div>

