@using CategoryMovieApp.Models
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model PagedList<User>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Kullanıcı Bilgileri</h2>
    <table class="table table-hover table-striped table-bordered text-center">
        <tr>
            <th class="cid">Id</th>
            <th class="ctr">Kullanıcı Ad</th>
            <th class="cen">Parola</th>
            <th class="cst">Statü</th>
            <th class="cup">Güncelle</th>
            <th class="cdel">Sil</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
                <td>@item.UserPassword</td>
                <td>

                    @if (item.UserStatu == true)
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.UserStatu btn-success">
                        </a>
                    }
                    else
                    {
                        <a id="statu" style="padding:2px 12px;border-radius:80%" class="@item.UserStatu btn-danger">
                        </a>
                    }
                </td>
                <td>
                    <a class="btn-warning text-white" href="/User/GetUser/@item.UserId">
                        <i class="fa fa-refresh"></i>
                    </a>
                </td>
                <td>
                    <a class="btn-primary" href="/User/UserDelete/@item.UserId">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="row justify-content-center">
        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("UserList",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
