@using CategoryMovieApp.Models
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<Movie>
@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <h2 class="text-center mt-3 mb-3">Film Bilgileri</h2>
    <table class="table table-hover table-striped table-bordered text-center">
        <tr>
            <th class="cid">Film Id</th>
            <th class="ctr">Ad</th>
            <th class="cen">Name</th>
            <th class="cen">Kategori</th>
            <th class="cen">Ülke</th>
            <th class="cen">Eklenme Tarihi</th>
            <th class="cen">Kurdele</th>
            <th class="cen">Açıklama</th>
            <th class="cst">IMDB</th>
            <th class="cst">Resim</th>
            <th class="cst">Yıl</th>
            <th class="cst">Statü</th>
            <th class="cup">Güncelle</th>
            <th class="cdet">Detay</th>
            <th class="cdel">Sil</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MovieId</td>
                <td>@item.MovieNameTR</td>
                <td>@item.MovieNameEN</td>
                <td>@item.Category.CategoryNameTR</td>
                <td>@item.Country.CountryName</td>
                <td>@item.MovieAddDate.ToString("dd MMMM yyyy")</td>
                <td>@item.MovieBadge</td>
                <td>@item.MovieDescription</td>
                <td>@item.MovieIMDB</td>
                <td><img style="width:100%" src="@item.MovieImageUrl" /></td>
                <td>@item.Year.YearName</td>
                <td>
                    <a id="statu" class="@item.MovieStatu">
                        @item.MovieStatu
                    </a>
                </td>
                <td>
                    <a class="btn-warning text-white" href="/Movie/MovieUpdate/@item.MovieId">
                        <i class="fa fa-refresh"></i>
                    </a>
                </td>
                <td>
                    <a class="btn-danger" href="/Movie/MovieInfo/@item.MovieId">
                        <i class="fa fa-info"></i>
                    </a>
                </td>
                <td>
                    <a class="btn-primary" href="/Movie/MovieDelete/@item.MovieId">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="row justify-content-center">
        @Html.PagedListPager((IPagedList)Model,page=>Url.Action("MovieAdminList",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    <div class="text-center">
        <a class="btn-success" href="/Movie/MovieAdd/">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>